$whiteBasic: #FFFFFF;
$blackBasic: #000000;
$whiteDingy: #F8F8F8;
$deepBlue: #1B2033;
$lightBlue: #A6B1DC;
$greenLight: #27AE60;
$lightBlueDingy: #4D6ADC;
$redLight: rgba(235, 87, 87, 0.75);
$greyLight: rgba(248, 248, 248, 0.5);
$greyLightDingy: rgba(248, 248, 248, 0.75);